
.navbar-custom {
  background-color: #02230f; 
  color: #ffffff !important; /* Texto blanco */
}

.navbar-custom .nav-link {
  color: #83c98f !important; 
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #d1d1e0; /* Color gris claro al pasar el mouse */
}

.navbar-custom .btn {
  background-color: #02230f; 
  color: white; 
  border: 1px solid #ffffff; 
  transition: all 0.3s ease;
}

.navbar-custom .btn:hover {
  background-color: #fdfdfd; 
  color: #02230f; 
  border: 1px solid #02230f; 
}

